/* reset */
html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

h2 {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #000;
}

html, body {
    font: 16px/1.14 "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #30b6ce url(../img/bg-body.png) no-repeat;
    background-size: 100%;
}

.m-turn {
    padding-top: 20px;
    /*background-color: #30b6ce;*/
}

.m-turn .text1 {
    position: relative;
    color: #fff;
    text-align: center;
}

.m-turn .text1 .count {
    display: inline-block;
    padding: 0 16px;
    height: 28px;
    line-height: 28px;
    border-radius: 20px;
    background-color: #1d93a8;
    font-size: 14px;
}

.m-turn .text1 .u-btn {
    position: absolute;
    top: 0;
    right: 10px;
    border-radius: 12px;
}

.m-turn .turn {
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.m-turn .turn .inner {
    display: block;
    width: 100%;
    position: relative;
    
}

.m-turn .turn .canvas {
    width: 100%;
    transform: rotate(0deg);
    background: url(../img/bg.png) no-repeat;
    background-size: 100%;

}

.m-turn .turn .start {
    position: absolute;
    width: 30%;
    left: 50%;
    top: 50%;
    transform: translate(-43%, -53%);
    vertical-align: middle;
}

.m-turn .text2 {
    margin-top: 20px;
    text-align: center;
}

.m-turn .text2 .count {
    margin-bottom: 10px;
    color: #fff;
    font-size: 14px;
}

.m-box {
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    background-color: rgba(29,147,168,.9);
    color: #fff;
}

.m-box h2 {
    margin-bottom: 10px;
}

.m-box .title {
    color: #3fe6ff;
    margin-bottom: 5px;
}

.m-box p {
    margin-bottom: 10px;
}

.m-box p:last-child {
    margin-bottom: 0;
}

.u-btn {
    display: inline-block;
    padding: 4px 8px;
    color: #fff;
    border: 1px solid transparent;
}

.u-btn-1 {
    background-color: #ff5d5d;
}

.u-btn-2 {
    border-color: #fff;
}

.u-btn-lg {
    padding: 8px 20px;
}

.u-btn-rd {
    border-radius: 20px;
}