html, body {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

a {
    color: #000;
}

img {
    max-width: 100%;
}

.f-mb10 {
    margin-bottom: 10px;
}

.f-mb20 {
    margin-bottom: 20px;
}

.f-fl {
    float: left;
}

.f-fr {
    float: right;
}

.f-clear:after {
    display: block;
    content: '.';
    clear: both;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}

.f-clear {
    zoom: 1;
}

.u-btn {
    display: inline-block;
    padding: 8px 14px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    color: #fff;
}

.u-btn-1 {
    color: #fff;
    background-color: #13b5b1;
    border-color: #13b5b1;
}

.u-btn-2 {
    background-color: transparent;
    border-color: #fff;
}

.u-btn-3 {
    color: #555555;
    background-color: #fff;
    border-color: #999999;
}

.u-btn-block {
    display: block;
}

.u-btn-sm {
    padding: 4px 8px;
    font-size: 12px;
}

.u-icon {
    height: 20px;
    vertical-align: middle;
}
.u-icon-x{
    width: 24px;
    height: 24px;
    background: url(../img/icon-x.png) center no-repeat;
    background-size: contain;
}
.u-icon-x.none{
    background-image: url(../img/icon-x-none.png);
}

.m-pinglun {
    padding: 0 10px 40px;
}

.m-pinglun .title {
    padding-top: 10px;
    border-top: 1px solid #ddd;
    font-size: 14px;
}

.m-pinglun .infoList {
    list-style: none;
}

.m-pinglun .infoList li {
    overflow: hidden;
    margin-bottom: 10px;
}

.m-pinglun .infoList .pic {
    float: left;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.m-pinglun .infoList .pic img {
    width: 50px;
    height: 50px;
}

.m-pinglun .infoList .cnt {
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.m-pinglun .infoList .cnt .text {
    font-size: 14px;
    color: #555;
}

.m-pinglun .infoList .top {
    position: relative;
    margin-bottom: 5px;
}

.m-pinglun .infoList .top .name {
    font-size: 14px;
}

.m-pinglun .infoList .top .date {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    color: #999;
}

.m-btn-pinglun {
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-top: 1px solid #ddd;
    background-color: #fff;
}

.m-btn-pinglun .btn {
    display: block;
    line-height: 50px;
    text-align: center;
    color: #555555;
}

.m-btn-pinglun .btn img {
    height: 24px;
    vertical-align: middle;

}

.m-btn-pinglun .cnt {
}

.m-btn-pinglun .cnt .ipt {
    padding-right: 120px;
}

.m-btn-pinglun .cnt .ipt textarea {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    line-height: 1;
    padding: 5px;
    border: none;
}

.m-btn-pinglun .cnt .ctrl {
    float: right;
    width: 119px;
    height: 50px;
    border-left: 1px solid #ddd;
    padding-top: 10px;
    text-align: center;
}

.m-btn-pinglun .cnt .ctrl .btn1,
.m-btn-pinglun .cnt .ctrl .btn2 {
    box-sizing: border-box;
    display: inline-block;
    width: 52px;
    padding: 5px 0;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
}

.m-detail {
}

.m-detail .userInfo {

}

.m-detail .userInfo .bd {
    padding: 10px;
}

.m-detail .img {
    height: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.m-detail .title {
    margin-bottom: 10px;
    color: #555;
}

.m-detail .des {
    margin-bottom: 10px;
    font-size: 14px;
    color: #999;
}

.m-vote {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bg {
    background: url(../img/bg.jpg) center top no-repeat;
    background-size: cover;
}
.m-bodyBox{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
.m-bodyBox .bodyInner{
    position: absolute;
    top:0;
    bottom:0;
    width:100%;
    overflow-y: auto;
}
.m-vote.bgc {
    background-color: #ededef;
}

.m-vote .tool {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 10%;
}

.m-vote .tool .u-btn-2 {
    width: 33%;
}

.m-vote .weui_tabbar a {
    padding-top: 0;
    line-height: 50px;
    border-left: 1px solid #ddd;
    font-size: 14px;
    text-align: center;
}

.m-vote .weui_tabbar a:first-child {
    border-left: none;
}

.m-vote .listPage {
    padding: 10px;
}

.m-vote .listPage .listBox {
    overflow: hidden;
    list-style: none;
    margin: -2% 0 0 -2%;
}

.m-vote .listBox .listItem {
    float: left;
    width: 48%;
    margin-top: 2%;
    margin-left: 2%;
}


.m-vote .listBox .listItem .inner {
    padding: 5px;
    background-color: #fff;
    font-size: 14px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.m-vote .listBox .listItem .link {
    display: block;    
}
.m-vote .listBox .listItem .title{
    margin-top: 5px;
    text-align: center;
}
.m-vote .listBox .listItem .text{
    position: relative;
    font-size: 14px;
    color: #999;
}
.m-vote .listBox .listItem .text .u-icon-x{
    position: absolute;
    right: 0;
    bottom: 0;    
}

.m-vote .listBox .listItem .pic {
    display: block;
    max-width: 100%;
    height: 180px;
    margin-left:auto;
    margin-right:auto;
}

.m-vote .scroll {
    height: 100%;
    overflow-y: auto;
}

.m-vote .votePage {
}

/* 投票表单 */
.m-voteForm {
    min-height:100%;
}

/* 投票图片 */
.m-voteImg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.m-voteImg .imgBox {
    margin: 20px;
    padding: 5px;
    height: 70%;
    background-color: #fff;
}
.m-voteImg .imgBox .inner{
    height:100%;
    background: url(../img/2.jpg) center top no-repeat;
    background-size: cover;
}

.m-voteImg .btn {
    padding:0 20px;
}
.m-voteImg .btn .weui_btn{
    font-size: 14px;
}

.modal.show{
    display: block;
}
.modal{
    display: none;
    z-index: 99999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
}

.modal-cnt {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #555;
    font-size: 14px;
}

.modal-cnt .title {
    margin-bottom: 10px;
    text-align: center;
}

.modal-cnt .cnt {
    height: 180px;
    overflow-y: auto;
}

.modal-cnt .cnt p {
    margin-bottom: 5px;
}

.modal-cnt .body {
    padding: 10px;
}

.modal-cnt .ft a {
    display: block;
    border-top: 1px solid #ddd;
    line-height: 35px;
    color: #13b5b1;
    text-align: center;
}



/*  */
.m-fileUpload{
    position: relative;
}
.m-fileUpload input{
    position: absolute;
    z-index:10;
    width:100%;
    height:100%;
    opacity:0;

}
.m-fileUpload a{

}





















