html, body{
    position: relative;
    width:100%;
    height:100%;
}
body{
    margin:0;
    overflow-x: hidden;
}
ul{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}

.wrap{
    position: absolute;
    z-index: 1;
    left:0;
    right:0;
    top:0;
    bottom:0;
    overflow-x: hidden;
    overflow-y: auto;
}
.header{
    position: relative;
    height:44px;
}
.header .icon-menu{
    position: absolute;
    left:20px;
    top:10px;
    width:24px;
    height:24px;
    background: url(../img/icon-menu.png) no-repeat;
    background-size: cover;
}
.content{
    padding: 20px 0;
}

.chartBox{
    margin-bottom: 50px;
}


.meta{
    padding:0 20px;
}

.m-list{
    font-size:20px;
    color: #555;
}
.m-list li{
    position: relative;
    padding-left:24px;
    line-height:40px;
}
.m-list li span{
    float: right;
}
.m-list li:before{
    content: '';
    position: absolute;
    left:0;
    top:15px;
    width:10px;
    height:10px;
    border-radius: 50%;
}
.m-list li.bg1:before{
    background-color: #84ccc9;
}
.m-list li.bg2:before{
    background-color: #88abda;
}
.m-list li.bg3:before{
    background-color: #56be98;
}
.m-list li.bg4:before{
    background-color: #92cb6b;
}


.m-list2{
    overflow: hidden;
    margin-top:20px;
    border:1px solid #1ce7df;
    background: url(../img/bg-1.png) center no-repeat;
    background-size: cover;
}
.m-list2 li{
    padding: 15px 0;
    width:50%;
    float: left;
    text-align: center;
}
.m-list2 li p{
    margin:0;
}
.m-list2 li .p1{
    margin-bottom:10px;
    color: #555;
    font-size:20px;
}
.m-list2 li .p2{
    color: #999;
    font-size:14px;
}


.table{
    width:100%;
    border-collapse: collapse;
}
.table thead th{
    padding: 10px;
    background-color: #f3f3f3;
    color: #555;
    text-align: center;
}
.table tbody td{
    padding: 15px 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}



.m-menu{
    position: absolute;
    z-index: 2;
    left:-101px;
    top:0;
    width:100px;
    height:100%;
    border-right:1px solid #ddd;
    overflow-y: auto;
    background-color: #fff;
}
.m-menu ul{
    margin-top:10px;
}
.m-menu li{

}
.m-menu li a{
    display: block;
    padding: 5px;
    text-align: center;
    color: #999;
    text-decoration: none;
}
.m-menu li.active a{
    background-color: #f3f3f3;
    border-top:1px solid #ddd;
    border-bottom: 1px solid #ddd;
}


.doc{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    transition: .5s;
}

.doc.active{
    transform: translateX(101px);
}



.f-c1{
    color: #1bdb83;
}
.f-c2{
    color: #ff405f;
}

.f-c3{
    color: #84ccc9;
}
.f-c4{
    color: #88abda;
}
.f-c5{
    color: #56be98;
}
.f-c6{
    color: #92cb6b;
}




.f-fz24{
    font-size: 24px;
}
.f-vam{
    vertical-align: middle;
}
.f-ml5{
    margin-left:5px;
}











